

/* ---------------------------------

		A C C O R D I A N      

--------------------------------- */

.accordion{
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid silver;
	width: 730px;
}

.accordion-panel__heading{
	position: relative;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
	 background-image: -webkit-linear-gradient(top,#fff,#f3f3f3);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight: 600;
	
	transition: all .6s;
	cursor:pointer;
}
.accordion-panel__heading:before{
	transition: all .6s .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__heading.active:before{
	transition: all .2s .6s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__heading:HOVER{
	color: #333;
	
	transition: all .2s;

}
.accordion-panel__heading.active:HOVER,
.accordion-panel__heading.active {
	transition: all .2s;
	color: #333;
	background: #fff;
	border-bottom: 0;
	padding: 20px 20px 20px 40px;
}
.accordion-panel__content{
	transition: all .6s;
	position: relative;
	padding: 0 20px 0 20px;
	
    height: 160px;
    overflow: hidden;
}
.accordion-panel__content:before{
	transition: all .6s .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__content.active:before{
	transition: all .2s .6s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__content.active {
	transition: all .2s;
	
    max-height: 500px;
    background: lavander;
   padding: 10px 20px 15px 40px;
}

