.three-fourth .holiday-alert {
/*	margin-left: 20px;
	border: 1px solid silver;*/
}

.holiday-alert .alert-header{
	background-image: -webkit-linear-gradient(top,#FFF,#E7E7E7);
	border: 1px solid silver;
	height: 60px;
	padding: 10px 20px;
}

.booking-details .alert-tittle {
	font-size:25px;
}

.booking-info .description-tittle{
	font-size:18px;
	color: cadetblue;
}

.alert-questions {
	padding-left: 20px;
	padding-top: 20px;
	clear: both;
	float: left;
	width: 100%;
}

.alert-questions .question {
	font-size:2.3em;
	padding-left: 6px;
	/*font: normal 2.3em;*/
	color: #666;

}


.white {
	font-size: 23px;
}

.alert-questions .answer1 {
	padding-left: 50px;
	padding-top: 0px;
	font-size: 12px;
}

.earliest input {
	margin: 8px;
	width: 150px;
	background-color: aliceblue;
	padding: 3px;
}

.budget-limit input {
	width: 60px;
}

.alert-interval {
	padding-left: 50px;
	padding-top: 20px;
	font-size: 15px;
}


.alert-interval input{
	width: 100px;
}

.rregjistrohu{
	margin-bottom: 20px;
}
.rregjistrohu .rregjistrohu-button {
	background-color: #ff3751;
	height: 50px;
	border-radius: 9px;
	width: 300px;
	font: normal 10px/30px 'OpenSansRegular';
	text-transform: uppercase;
	color: #fff;
	padding: 0 10px;
	text-align: center;
	display: inline-block;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	font-size: 16px;
	margin-top: 30px;
	margin-left: 175px;
	margin-bottom: 40px;	
}

.holiday-alert .f-item label {
	font-size: 13px;
	font: 100%/1.42 'OpenSansRegular',Arial,Helvetica,sans-serif;
	color: #666;
	padding: 0 0 5px;
	display: inline-block;
	width: auto;
	float: left;
	line-height: 20px;
	margin: 6px 30px 0 0;
}

.holiday-alert .alert-interval .f-item label {
	margin: 0px 30px 0 7px;
}

.holiday-alert .f-item {
	width: 100%;
	display: block;
	float: left;
	margin: 0 0 10px 0;	
}


.holiday-alert .triplets .f-item {
	width: 33%;
}

.holiday-alert .triplets .f-item label {
	display: inline-block;
}

.holiday-alert .triplets .f-item input {
	width: 75%;
}

.holiday-alert .datepicker-wrap {
	width: 165px;
	float: left;
}

.holiday-alert .ui-datepicker-trigger {
	top: 8px;
}

.holiday-alert .selector {
  position: relative;
  border: 1px solid #ccc;
  line-height: 25px;
  height: 25px;
  margin: 0;
  /*font: normal 1.2em 'OpenSansRegular';*/
  color: #3D3D3D;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  width: 100px;
}