.filtri-neteve {
	width: 85%;
	background-color: white;
	height: 70px;
	float: left;
	margin-right: 20.953px;
	padding: 10px 15px 0;
}

.filtri-neteve .filtro-net{
	  display:block;
	  font-size: 1.4em;
	  color: #333;
	  /*margin: 0 0 5px;*/
	  
	  margin-bottom: 3px;
	  width:75%;
}

.filtri-neteve .nr-neteve {
	background-color: #73afdc ;
	font-size: 1em;
	padding: 10px 7px;
	float: left;
	color: white;
	margin-right: 5px;
	/*border-radius: 3px;*/
}

.filtri-neteve .nr-neteve.active , .nr-neteve:hover{
	background-color: #fcb712;
}

.horizontal-calendar {
	background: #fff;
/*	background-image: -webkit-linear-gradient(top,#fff,#BDBDBD);*/
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 70px;	
	width: 75%;
	float: left;

}

.date {
	width: 92px;
	background: #73afdc;
	float:left;
	/*background-image: -webkit-linear-gradient(top,#73afdc 50%,#548eb3 25%,#6095be 63%);*/
	margin-left: 17px;
	
	/*background-image: -webkit-linear-gradient(top,#d1d1d1 50%,#b7b7b7 25%,#c2c2c2 63%);*/
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	text-transform: uppercase;
}

.date.active:before{	
	content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    background: #fcb712;
    margin-top:-15px;
}

.date.active, .date:hover {
	position:relative;
	background: #70cbf4;	
/*	border-top: 10px solid #004ece;
	margin-bottom: -10px;*/
}

.date.no-flight {
	background: rgba(192, 192, 192, .4);

}

.date.no-flight span{
	color:rgb(192, 192, 192);
}

.no-flight:hover {
	background: #CDCDCD;
}

.no-flight:after {
/*  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #c00;
  content: "";
  width: 100%;
  display: block;	*/
}

.dita {
	color: #fff;
	font-size: 10px;

}

.data {
	color: #fff;
	font-size: 23px;
}


.muaji {
	color: #fff;
	font-size: 9px;
}
