.collection-details {
 padding-right:0px;
 padding-bottom: 220px;
 padding-left:0px;
 height: 350px;
 overflow: hidden;
 background: url(http://dev.savatours.com/uploads/uDbSeQh3/4.jpg);
 background-size: cover;

}

.full.no-margin {
	margin:0px;
}

.left-box {
	width: 270px;
	padding-top: 20px;
	padding-bottom:13px;
	background-color: rgba(0, 0, 0, 0.6);
}

.inner {
	padding-left:24px;
	padding-right:24px;
}

.collection-details-paragraph {
	color: #fff;
	font-size: 13px;
}

.collection-button {
	width:240px;
	padding-left:17px;
	display:block;
}

.collection-button a {
	color: #4f3100;
	border-color: #faaf00;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
	background-color: #faaf00;
	background-repeat: repeat-x;
	padding: 8px 18px;
    font-size: 16px;
    border-radius: 5.5px;font-family: 'tui',Arial,sans-serif;text-decoration:none;background-image: -webkit-linear-gradient(top,#f6c720,#faaf00);
}

.reasons {
	padding-top:35px;
	margin-left:25px;
	margin-right:37px;
}

.reasons h2{
	color:#333;
	margin-bottom:12px;
	font-size:35px;
	position:relative;
}

.reasons p {
	color:#666;
	margin-bottom:12px,font-size:25px;
}

.top-hotel {
	line-height: 24px;
  text-transform: uppercase;
  color: #aeaeae;
  font-family: sans-serif;
  font-size: 29px;
}

.hotelet {

  color: rgb(51, 51, 51);
  
  font-family: sans-serif;
  font-size: 22.5px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.gold-family {

  -webkit-font-smoothing: antialiased;
  color: rgb(118, 118, 118);
  display: block;
  font-family: tui, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 16px;
  left: 11px;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  top: 5px;
  width: 74px;
  }

 h4 {
 	width: 130px;
  height: 150px;
  border-right: 2px solid #aeaeae;
  padding-right: 10px;
  }

  .top-5 {
padding-top: 20px;
padding-left: 20px; 
height: 200px;
width: 170px;
float: left;
    
  }

.top-5 a {
	  color: #fff;
  font-family: droid_sansregular;
  font-size: 10.5px;
  letter-spacing: .5px;
  line-height: 20px;
  position: relative;
  top: 9px;
  white-space: nowrap;
  padding: 3px 6px 3px 15px;
  
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
    background-color: #73afdc
}

.top-hotel-list {
	float: left;
	padding-top: 20px;
	height:200px;
}

.top-hotel-list ul{
	display: -webkit-inline-box;
}

.top-hotel-list li{
	margin: 10px;
	margin-top: 0px;
	width:169px;
	height:219px;
}

.top-hotel-list img{
	position:absolute;
}

.top-hotel-list span{
	  position: absolute;
  background-color: black;
  color: white;
  height: 17px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.top-hotel-list div{
	  height: 93px;
}

.border-style {
	padding-top: 6px;
	  border-bottom: 1px solid #d3d3d3;
	  width: 169px;
}

.top-hotel-list hr{
	  width: 145px;
}

.top-hotel-list a{
	  padding-bottom: 5px;
	  color:#5f9ac6;
	  font-size: 12.5px;
	    font-family: inherit;
	    text-transform: uppercase;
	    text-decoration: none;
}

.top-hotel-list p{
	  padding-bottom: 8px;
	  text-transform: uppercase;
	  font-size:13px;
}

ul.room-types {
  padding: 0;	
}