/**********************      General    ********************************/
body{
  background-color: #D1E4EB;
}
.row{
        padding-top: 2px;
        padding-bottom: 2px;
      }
.container-fluid.home-page{
  max-width:1078px;
}
/**********************      Main-menu    ********************************/

.row.main-menu{
  padding-top:0px;
  padding-bottom:0px
}
.navbar.navbar-inverse{
  margin-bottom:0px;
  border-radius:0px;
  background-color:#00a5e5;
  border:0px;
  padding-left:20px;
  padding-right:5px;
  padding-top:5px;
}
.navbar-header .logo{
  margin-top:20px;
  margin-bottom:10px
}
.nav.navbar-nav{
  margin-top:36px;margin-left:15px;color:white;
}
.dropdown.mega-dropdown .dropdown-toggle{
  color:white;font-size:17px;
}
.dropdown-toggle .dropdown-menu.mega-dropdown-menu{
  padding-left:15px;padding-right:15px
}
.nav.navbar-nav .mega-menu-list-item{
  color:#fff;font-size:17px;
}

/*************************      Search Panel *************************/
.row.search-panel{
  background-color:#004ECC;
  padding:23px;
}
.row.search-panel .label.label-default{
  background-color:transparent;
  font-weight:300
}
      /*************************      Register Panel *************************/
.row.register-panel{
  background-color:white;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
}
.row.register-panel .col-md-6.icons{
  padding-top:9px;
}
.row.register-panel h4{
  font-size: 16px;
  font-weight: 600;
}

.row.register-panel p{
  font-size: 11px;
}
.row.collection-panel{
  margin-bottom:-16px;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/******************************** footer social icons ******************************/

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoYoutube:hover {
	background-color:#D12122;
}
.social-network a.icoGoogle:hover {
	background-color:#DD4B39;
}
.social-network a.icoInstagram:hover {
	background-color:#0590B8;
}

 .social-network a.icoFacebook:hover i, .social-network a.icoYoutube:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	
	
	
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
 background-color: #D3D3D3;   
}

/************************** Register Button **************************/

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #ff3751;
	border-color: #ff3751;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #ff3751;
    border-color: #ff3751;
}

.btn-outlined.btn-black {
    background: none;
    color: #000000;
	border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
}

.btn-outlined.btn-white {
    background: none;
    color: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #ff3751;
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-xs{
	font-size:11px;
	line-height:14px;
	border: 1px solid;
	padding:5px 10px;
}

.btn-sm{
	font-size:12px;
	line-height:16px;
	border-radius: 0px;
	padding:8px 15px;
}

.btn-lg{
	font-size:18px;
	line-height:22px;
	border: 3px solid;
	padding:13px 40px;
}



/********************************/
/*          Panel cards         */
/********************************/

#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #345;    
}

.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 231px;
    padding-left: 0px;
    overflow: hidden;
    
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 0px;
    
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 
.panel.panel-card .panel-body.text-center-gold{
    background-color:rgb(240, 173, 78);color:white;
} 
.panel.panel-card .panel-body.text-center-family{
    background-color:rgb(92, 184, 92);color:white;
} 
.panel.panel-card .panel-body.text-center-platinum{
    background-color:rgb(51, 122, 183);color:white;
} 
.panel.panel-card .panel-body.text-center-comfort{
    background-color:rgb(217, 83, 79);color:white;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 180px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    margin-bottom: -50px;
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 21px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}

/****************** Mega menu*************************/
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left:15px;
    padding-right:15px;
}
.dropdown-menu.mega-dropdown-menu .col-sm-3{
  padding-right:10px;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.mega-dropdown .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.mega-dropdown  .left.carousel-control {
  right: 30px;
  left: inherit;
}
.mega-dropdown .carousel-control .glyphicon-chevron-left{
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
} 
.mega-dropdown .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

/*Footer Row*/
.row.footer-panel{
  background-color:white;
  margin-top:60px;
  padding-left: 45px;
  padding-top:20px
}
.row.footer-panel .label.label-default{
  font-size: 17px;
  background-color: #3EB6DD;
  border-radius: 0px;  
}
.row.footer-panel address{
  margin-top: 10px;
  
}
.row.footer-panel ul{
  margin-top: 10px;
  
}
.row.footer-panel .row{
  margin-top: 10px;
}

.home-page [class*="col-"] {
  padding-left:0;
    padding-right:0;
}
