.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    
   
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
     border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li a {
      position: relative;
  top: 1px;
  padding: 9px 20px;
  background: transparent;
  color: #73afdc;
  font-size: 15px;
  font-weight: 500;
  z-index: 2;
  outline: 0;
  text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border-top: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
/*    width: 800px;*/
}

.tab-content {
    width: 720px;
    padding: 20px;
    display: none;
    padding-left: 0px;
}

#tab-1 {
 display: block;
 width: 780;   
}

.tabs-container {
    padding-left: 25px;
}

.img-container {
    width: 642px;
    height: 354px;
    float: left;
      
  overflow: hidden;
}

.tab-details {
      padding-left: 20px;
  width: 338px;
  height: 354px;
  float: left;
  background-color: #e4f6fa;

}

.tab-details p {
    padding-left: 0px;
}

.tab-details h3 {
    padding-top: 20px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #333;

}

.tab-details a {
    color: #4f3100;
  border-color: #faaf00;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  text-decoration: none;
  background-repeat: repeat-x;
  padding: 8px 18px;
  font-size: 14.5px;
  border-radius: 3px;
  margin-top: 14px;
  font-family: 'tui',Arial,sans-serif;
  background-image: -webkit-linear-gradient(top,#f6c720,#faaf00);
}

.separator {
      display: block;
  margin: 40px 20px;
  color: #666;
  border-bottom: 1px solid #ddd;
}